header{
    background-color: white;

    height: 75px;

    box-shadow: 1px 4px 4px 0px #0000008f;
    position: relative;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cabecalho img{
    height: 25px;
}

.link_header{
    margin-left: 45px;

    color: black;

    text-decoration: none;
}

.Adm img{
    width: 15px;
    height: 13px;
    margin-left: 10px;
}

.cabecalho button{
    height: 35px;
    width: 80px;
    background-color: #B51D44;
    color: aliceblue;
    border-radius: 8px;
    border: 0px;
}

.orgProximosEventos{
    height: 400px;
}

.organizandoHomeFundo img{
    width: 100%;
    height: 650px;
}

 .tituloHome{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tituloHome hr{
    background-color: red;
    height: 4px;
    border-radius: 10px;
    width: 300px;
}

.orgArticles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orgArticles  article{
    border-radius: 5px;
    margin-top: 50px;
    height: 250px;
    width: 220px;
    border: 2px solid #86224D;
}

.orgDentroDoArticle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.orgDentroDoArticle a{
    color: #B51D44;
    text-decoration:none;

}

.orgBannerVisao img{
    height: 380px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    
    .cabecalho{
        justify-content: center;
        align-items: center;
    }
    .link_header{
        display: none;
    }
    .Adm{
        display: none;
    }
}